body	{
	height:100%;
	margin:0;
}

#all	{
	position:absolute;
	top:0;
	width:100%;
}

#logo	{
	padding:10em 10em 3em 10em;
}

#googleLogo	{
	width: 260px;
	height:90px;
}


#navBar	{
	float:right;
	position: absolute;
	top: 0px;
	right: 0;
	width:100%;
	display:inline;
	
}

ul	{
	list-style-type: none;
	margin:0;
	padding:0;
	display:inline;
	text-decoration: none;
	color:#000;
	font-size:13px;
	font-family: arial, sans-serif;
}

li 	{
	display: inline;
	float:right;
	padding:15px 10px 5px 5px;
}

#googleApps {
	
}

#signIn {
	border:1px solid #4285f4;
	font-weight: bold;
  	outline: none;
  	color: #fff;
  	background:#4387fd;
  	border-radius: 2px;
  	display:inline-block;
  	line-height:28px;
  	padding:0 12px;
  	margin: 10px 10px 0 0;
  	text-decoration: none;
  }

a:visited {
  color: #609;
}

a 	{
	text-decoration: none;
}

input	{
	width:500px;
	height:20px;
}