body	{
	height:100%;
	margin:0;
}

#all	{
	position:absolute;
	top:0;
	width:100%;
}

#logo	{
	padding:10em 10em 3em 10em;
}

#googleLogo	{
	width: 260px;
	height:90px;
}


#navBar	{
	float:right;
	position: absolute;
	top: 0px;
	right: 0;
	width:100%;
	display:inline;
	
}

ul	{
	list-style-type: none;
	margin:0;
	padding:0;
	display:inline;
	text-decoration: none;
	color:#000;
	font-size:13px;
	font-family: arial, sans-serif;
}

li 	{
	display: inline;
	float:right;
	padding:15px 10px 5px 5px;
}

#googleApps {
	opacity: .7;
}

#googleApps:hover	{
	opacity: 1;
}

#signIn {
	border:1px solid #4285f4;
	font-weight: bold;
  	outline: none;
  	color: #fff;
  	background:#4387fd;
  	border-radius: 2px;
  	display:inline-block;
  	line-height:28px;
  	padding:0 12px;
  	margin: 10px 10px 0 0;
  	text-decoration: none;
  }

a:visited {
  color: #609;
}

a 	{
	text-decoration: none;
}

input	{
	width:100%;
	height:20px;
}

#form 	{
	width:500px;
	height:80px;
	position:relative;
	
}

#mic	{	
	width: 17px;
	height: 17px;
	position: absolute;
	right:0px;
	top:5px;
	opacity: 0.7;
}

#mic:hover	{
	opacity: 1;
}

#form #left 	{
	left:115px;	
}


#form #right 	{
	right:115px;
}

.buttons	{
	width: 20%;
	position:absolute;
	padding;
	top:40px;
	height: 25px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	background-color: #f5f5f5;
	padding: 0 8px;
	text-align: center;
	opacity: .7;
	font-family: arial,sans-serif;
  	font-size: 11px;
  	font-weight: bold;
}

.buttons:hover	{
	opacity: 1;
}

.footer	{
	width:100%;
	background-color: #f2f2f2;
	position:absolute;
	bottom:-850px;
	padding:5px;
	font-size: small;
	line-height: 0px;
	border-top: 1px solid #e4e4e4;
}

.footer li 	{
	display: inline;
}

.footer #left	{
	float:left;
	margin-left: 30px;
}

.footer #right	{
	margin-right: 30px;
}
