html	{
	background-color: #FF9999;
}

#picture	{
	height: 11em;
	width: 11em;
	border:1px solid black;
	margin-left: 0px;
}

*	{
	font-family:Ubuntu;
	color:white;
}

body	{
	background-color: white;
	margin:3em;
	border-radius:15px;
	border:4px solid white;
	padding: 2em;
}

div {
	padding:10px;

}

.blocks	{
	width:11em;
	height:20em;
	text-align: center;
	float: right;
	margin-top: -400px;
}


#references	{
	background-color: #6699FF;
}

#name_title	{
	background-color: #293D66;	
	width:11em;
	height:11em;
}

#work_exp	{
	background-color: #6699FF;	
}

#experience	{
	background-color: #6699FF;
}

#facebook	{
	background-color: #6699FF;
}

#twitter	{
	background-color: #6699FF;
}

#gPlus	{
	background-color: #6699FF;	
}


#splash	{
	background-color: #FF9933;
	width:200px;
	height:100px;	
	padding:5px;
}

#phone_img	{
	background-color: red;
}

#contact_details	{
	background-color: black;
}
